extends layout


block content


  .row.page-header
    .col-lg-12
      h1= sayfaBaslik
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form", id="mekanGuncelle") 
        -if (hata == "evet")
         .alert.alert-danger(role="alert") Tüm Alanlar Gerekli    
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="ad") Mekan Adı
          .col-xs-12.col-sm-10
            input#ad.form-control(name="ad" value=ad) 
          .form-group
          label.col-xs-10.col-sm-2.control-label(for="adres") Mekan Adresi
          .col-xs-12.col-sm-10
            input#adres.form-control(name="adres" value=adres)
          .form-group    
          label.col-xs-10.col-sm-2.control-label(for="imkanlar") İmkanlar
          .col-xs-12.col-sm-10
            input#imkanlar.form-control(name="imkanlar" value=imkanlar)
          .form-group
          label.col-xs-10.col-sm-2.control-label(for="enlem") Enlem
          .col-xs-12.col-sm-10
            input#enlem.form-control(name="enlem" value=enlem)
          .form-group
          label.col-xs-10.col-sm-2.control-label(for="boylam") Boylam
          .col-xs-12.col-sm-10
            input#boylam.form-control(name="boylam" value=boylam)
          .form-group
          label.col-xs-10.col-sm-2.control-label(for="gunler1") Gunler-1
          .col-xs-12.col-sm-10
            input#gunler1.form-control(name="gunler1" value=gunler1)
          .form-group
          label.col-xs-10.col-sm-2.control-label(for="acilis1" ) Acilis-1
          .col-xs-12.col-sm-10
            input#acilis1.form-control(name="acilis1" value=acilis1)
          .form-group
          label.col-xs-10.col-sm-2.control-label(for="kapanis1") Kapanis-1
          .col-xs-12.col-sm-10
            input#kapanis1.form-control(name="kapanis1" value=kapanis1)
          .form-group
          label.col-xs-10.col-sm-2.control-label(for="gunler2") Gunler-2
          .col-xs-12.col-sm-10
            input#gunler2.form-control(name="gunler2" value=gunler2)
          .form-group
          label.col-xs-10.col-sm-2.control-label(for="acilis2") Acilis-2
          .col-xs-12.col-sm-10
            input#acilis2.form-control(name="acilis2" value=acilis2)
          .form-group
          label.col-xs-10.col-sm-2.control-label(for="kapanis2") Kapanis-2
          .col-xs-12.col-sm-10
            input#kapanis2.form-control(name="kapanis2" value=kapanis2)

          .form-group
          button.btn.btn-default.pull-right Mekan Güncelle
    .col-xs-12.col-md-4

    